extends base.pug

block scripts 
    script(src='/static/index.js')

block style 
    style
        include ../static/style.css
    //-   include ../static/styleContact.css

block content
    section.contact
        h2.text-center Contact US
        .form
            input#name.form-input(type='text' name='name' placeholder='Enter your name')
            input#phone.form-input(type='phone' name='phone' placeholder='Enter your phone')
            input#email.form-input(type='email' name='email' placeholder='Enter your email')
            textarea#text.form-input(name='text' cols='30' rows='10' placeholder='Ellaborate your concern')
            button.btn
                | Submit